.required {
  position: absolute;
  left: 200px;
  top: 0;
  background: #EFEFEF;
  padding: 10px;
  border: 1px solid #D2D2D2; }
  .required ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.password-item {
  position: relative; }

.container {
  padding-top: 80px; }

nav .nav {
  float: right;
  margin-right: 50px; }

h1 {
  color: #388E3C; }

h3 {
  text-transform: uppercase; }

legend {
  font-weight: bold; }
