<div>
  <h2>Edit your informations</h2>
  <div>
    You have need to update your account informations, you're in the best place !
  </div>
  <div>
    <ul>
      <li>
          <edit-directive data-id="{{userID}}" data-type="username" data-value="{{usernameProfile}}"></edit-directive>
      </li>
      <li>Email contact : {{emailProfile}}</li>
      <li>Created date : {{startProfile}}</li>
      <li>Level : {{levelProfile}}</li>
    </ul>
  </div>
  <br> <br>
  <ul>
    <li><a href="account/edit/email">Change your email</a></li>
    <li><a href="account/edit/password">Change your password</a></li>
    <li><a href="account/delete">Delete your account</a></li>
  </ul>

</div>
