<div>
  <h2>Change your password</h2>
  <div>
    Change your password simply with the next form
    <div>
      <form ng-submit="sendNewPass()">
        <table>
          <tr>
            <td><input type="text" placeholder="old" ng-model="form.old" /></td>
          </tr>
          <tr>
            <td><input type="text" placeholder="new" ng-model="form.new" ng-show="validPwd"/></td>
          </tr>
          <tr>
            <td><input type="text" placeholder="new valid" ng-model="form.new2" ng-show="validPwd" /></td>
          </tr>
          <tr>
            <td><input type="submit" value="Change your password"></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
