<div>
  <h2>Change your password</h2>
  <div>
    Change your password simply with the next form
    <div>
      <form ng-submit="sendNewPass($event)">
        <table>
          <tr>
            <td><input type="password" placeholder="your current password" ng-model="form.old" ng-blur="blurControlOldPwd($event)"  ng-hide="validOldPwd"/></td>
          </tr>
          <tr>
            <td><input type="password" placeholder="your new password" ng-model="form.new" ng-show="validOldPwd" /></td>
          </tr>
          <tr>
            <td><input type="password" placeholder="confirm new password" ng-model="form.new2"  ng-show="validOldPwd" /></td>
          </tr>
          <tr>
            <td><input type="submit" value="Change your password"  ng-show="validOldPwd"></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
