<h3>{{message}}</h3>
<p>
  Start by to signin for access at your account
</p>
<form id="signin" ng-submit="auth()">
  <div>
    <input type="email" id="email" placeholder="Email" ng-model="form.email" required /> &nbsp;
    <input type="password" id="pwd" placeholder="Password" ng-model="form.pwd" required /> &nbsp;
    <input type="submit" value="Sign In !" /> <br>
    <input type="checkbox" id="persist" ng-model="form.persist" checked />&nbsp;<label for="persist">Persist sign in</label>
    <br>
    <a href="#/renewPassword/start">Password lost ?</a>
  </div>
  <div class="error">
    {{error}}
    <span ng-show="activationMailStatus">
      <a href="#" ng-click="resendActivateEmail($event)" target="_blank">{{activateLinkText}}</a>
    </span>
  </div>
</form>
