<div ng-controller="signupController">
  <h3>{{message}}</h3>
  <p>
    {{ "auth.signup.title" | translate }}
  </p>
  <form ng-submit="signUpUser()" name="signUPform">
    <span class="error" ng-show="myForm.input.$error.required">Required!</span>
    <div>
      <input type="email" placeholder="email" ng-model="form.email" name="email" ng-change="checkEmailExist()" required>
      <span ng-show="form.emailvalid">{{"auth.signup.validEmail" | translate}}</span>
      <div ng-show="form.exist">
        {{"auth.signup.emailAlreadyExist" | translate}} <a href="/signin">{{"auth.signup.signin" | translate}}</a>
      </div>
    </div>
    <div ng-hide="form.exist">
      <div class="password-item">
        <input type="password" placeholder="Password" ng-model="form.pwd" name="pwd" ng-change="checkPwdForce()" ng-focus="focusPassValid()" ng-blur="blurPassValid()" required>
        <div class="required" ng-show="form.validPass">
          <ul>
            <li ng-hide="form.validPwdSize">{{"auth.signup.pwd.length" | translate}}</li>
            <li ng-hide="form.validPwdNum">One numeric characters required</li>
          </ul>
        </div>
      </div>
      <div>
        <input type="password" placeholder="Password Confirm" ng-model="form.pwdconfirm" name="pwdconfirm" ng-change="checkPwdSame()" required>
        <span ng-show="form.validPwdConfirm">{{"auth.signup.pwd.areSame" | translate}}</span>
      </div>
      <div>
        {{form.error}}
      </div>
      <div>
        <input type="submit" value="Sign up now">
      </div>
    </div>
  </form>
</div>
