<h3>Sign in</h3>
<p>{{message}}</p>
<form id="signin" ng-submit="auth()">
  <div>
    <input type="text" id="email" placeholder="Email" ng-model="form.email" required /> &nbsp;
    <input type="password" id="pwd" placeholder="Password" ng-model="form.pwd" required /> &nbsp;
    <input type="submit" value="Sign In !" /> <br>
    <input type="checkbox" id="persist" ng-model="form.persist" checked />&nbsp;<label for="persist">Persist sign in</label>
    <br>
    <a href="#/renewPassword/start">Password lost ?</a>
  </div>
  <div class="error">
    {{error}}
  </div>
</form>
