<div ng-controller="signupController">
  <h3>Sign Up</h3>
  <p>
    Commencez par créer un compte
  </p>
  <p>
    Start by to create an account
  </p>
  <form ng-submit="signUpUser()" name="signUPform">
    <span class="error" ng-show="myForm.input.$error.required">Required!</span>
    <div>
      <input type="email" placeholder="email" ng-model="form.email" name="email" ng-blur="checkEmailExist()" required>
    </div>
    <div>
      <input type="password" placeholder="Password" ng-model="form.pwd" name="pwd" required>
    </div>
    <div>
      <input type="submit" value="Sign up now">
    </div>
  </form>
</div>
