@import "colors";
@import "helpers";
@import "auth";

.container {
  padding-top: 80px;
}

nav {
  .nav {
    float: right;
    margin-right: 50px;
  }
}

h1 { color: $m_green; }
h3 { text-transform: uppercase;}
legend {font-weight: bold;}
