<h1>Welcome on Bootstrap for Angular modules !</h1>
<p>This bootstrap creates full-stack project (Express/Angular), a watcher development server for HTML, JS, and CSS files. <br>
If you read this lines, it's that the development server is ready for auto-compilation JS and SCSS files</p>
<p>An authenticate module was recently added, it based on Json Web Token (JWT). Simple middleware for control users, modo and admin was added too.</p>
<h3>Introduction</h3>
<p>
  Use "gulp" command for started an watch builder who generate <strong>main.js</strong> and <strong>styles.css</strong> files. <br>
  If you have need minified versions, just use the command "gulp prod" for generate it.
</p>
<p>Check the <a href="#/about" title="About page">about page</a> for more technical informations on this bootstrap.</p>
<fieldset>
  <legend>Angular $scope variable</legend>
  <p>{{message}}</p>
</fieldset>
