<h1>Welcome on Bootstrap for Angular modules !</h1>
<p>This bootstrap creates a simple front-end project, a watcher development server for HTML, JS, and CSS files. <br>
If you read this lines, it's that the development server is ready for auto-compilation JS and SCSS files</p>

<h3>Introduction</h3>
<p>
  Use "gulp" command for started an watch builder who generate <strong>main.js</strong> and <strong>styles.css</strong> files. <br>
  If you have need minified versions, just use the command "gulp prod" for generate it.
</p>
<fieldset>
  <legend>Angular $scope variable</legend>
  <p>{{message}}</p>
</fieldset>
