<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Angular App</a>
  <div class="nav navbar-nav" role="navigation">
    <a href="/#/home" class="nav-item nav-link active">Home</a>
    <a href="/#/about" class="nav-item nav-link">About</a>
    <a href="/#/contact" class="nav-item nav-link">Contact</a>
  </div>
  <div class="nav navbar-nav" role="sign">
    <a href="/#/signin" class="nav-item nav-link">Sign IN</a>
    <a href="/#/signup" class="nav-item nav-link">Sign UP</a>
  </div>
</nav>
